<nav>
    <h1>Bienvenido {{ userName }}</h1>
    <ul>
        <li><a href="./">Productos</a></li>
        <li><a href="./carrito">Carrito</a></li>
        <li><a href="./profile">Perfil</a></li>
    </ul>
        <div class="title">
            <form action="/logout" method="POST">
            <input type="hidden" name="userName" value="{{ userName }}">
            <button>Logout</button>
            </form>
        </div>
</nav>

<section id="sectionCart">
    <h3>Carrito de Compra</h3>
    <div id="cartProducts">

    </div>
    <input type="button" id="btnFinalizarCompra" value="Finalizar Compra">
</section>